backend/n8n-workflows/AirIntel - 06 Admin Emergency Broadcast.json
{
  "name": "AirIntel - 07 Admin Emergency Broadcast",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v1/admin-broadcast",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3b4764e1-dc09-482d-9593-21fe55e47550",
      "name": "POST /api/v1/admin-broadcast",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1104,
        96
      ],
      "webhookId": "admin-broadcast"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{$json.headers['x-airintel-secret']}}",
              "rightValue": "={{$env.AIRINTEL_SHARED_SECRET}}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "bd5c11aa-1aae-4764-b7f2-f0e24214c2e6",
      "name": "IF Shared Secret Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -864,
        96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Unauthorized\" } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "0baf77ca-a191-44f6-914a-35307c42f7d9",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -672,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{$json.body.adminRole}}",
              "rightValue": "admin",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "a81a7394-4a80-46f2-b834-9b6954ac0439",
      "name": "IF Caller Role = admin",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -624,
        96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Forbidden - admin role required\" } }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "426f14bc-09a1-4023-80c1-0a2c378eb8ad",
      "name": "403 Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -384,
        288
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select u.id as user_id, u.telegram_chat_id, dpt.onesignal_player_id\nfrom users u\nleft join device_push_tokens dpt on dpt.user_id = u.id;",
        "options": {}
      },
      "id": "3eef7b06-7c36-42af-ae97-9de447ae0a1f",
      "name": "Fetch All Registered Users (Override Filters)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -384,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "WigL9PtYReXdyRqO",
          "name": "Supabase Postgres Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.onesignal_player_ids.toJsonString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "id": "7120484d-d54f-4b7d-933b-3ba90959bf41"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "647f39ad-121e-49ef-982a-87334a793648",
      "name": "IF Has OneSignal Device",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onesignal.com/api/v1/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{$env.ONESIGNAL_REST_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "id": "b257b944-30cd-4845-922c-498059e4919d",
      "name": "Broadcast via OneSignal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{$json.telegram_chat_id}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "562fcaa6-a51c-4fc8-8eb4-91cbfa607852",
      "name": "IF Has Telegram Linked",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        272
      ]
    },
    {
      "parameters": {
        "chatId": "={{$json.telegram_chat_id}}",
        "text": "=🚨 EMERGENCY ALERT — AirIntel Malaysia\n\n{{$('POST /api/v1/admin-broadcast').first().json.body.message}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "31139a2b-b992-498d-849c-58bd6184428b",
      "name": "Broadcast via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        272
      ],
      "webhookId": "a30fef7c-3eac-4fa0-9612-6f4e101ce05a",
      "credentials": {
        "telegramApi": {
          "id": "wJX3MqBZe389oZNs",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"broadcast_to\": $items().length } }}",
        "options": {}
      },
      "id": "e8520973-166b-4f74-88f5-9bc257f9ab74",
      "name": "200 Broadcast Sent",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        720,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get all users\nconst users = $input.all().map(item => item.json);\n\n// Deduplicate by user_id\nconst uniqueUsers = {};\nfor (const user of users) {\n  const userId = user.user_id;\n  if (!uniqueUsers[userId]) {\n    uniqueUsers[userId] = {\n      user_id: userId,\n      telegram_chat_id: user.telegram_chat_id,\n      onesignal_player_ids: []\n    };\n  }\n  // Collect all player IDs for this user\n  if (user.onesignal_player_id) {\n    uniqueUsers[userId].onesignal_player_ids.push(user.onesignal_player_id);\n  }\n}\n\n// Return one item per user with all their player IDs\nreturn Object.values(uniqueUsers).map(user => ({\n  json: {\n    user_id: user.user_id,\n    telegram_chat_id: user.telegram_chat_id,\n    onesignal_player_ids: user.onesignal_player_ids\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        96
      ],
      "id": "28a4dfdc-3753-40dd-9f38-b3dafc64a8e4",
      "name": "User Filter"
    },
    {
      "parameters": {
        "jsCode": "// Get the message from the webhook\nconst webhookData = $('POST /api/v1/admin-broadcast').first().json;\nconst message = webhookData.body.message;\n\n// Instead of fetching player_ids, fetch all user IDs and use external_id\nconst payload = {\n  app_id: $env.ONESIGNAL_APP_ID,\n  include_aliases: {\n    external_id: $('User Filter').all().map(item => item.json.user_id)\n  },\n  target_channel: \"push\",\n  headings: { en: '🚨 AirIntel Emergency Alert' },\n  contents: { en: message }\n};\n\nreturn [{\n  json: { payload: payload }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -16
      ],
      "id": "34043bff-311a-498d-b550-56b31e6db8fb",
      "name": "Payload Filter"
    }
  ],
  "pinData": {
    "POST /api/v1/admin-broadcast": [
      {
        "json": {
          "headers": {
            "host": "coat-broker-arguable.ngrok-free.dev",
            "user-agent": "node",
            "content-length": "38",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-airintel-secret": "UOipPM24duwDqA69th7Tv5HWorkeJBV3mgzQSYGyRCl1xc0bX8ZaNnjEfIKFsL",
            "x-forwarded-for": "183.171.191.176",
            "x-forwarded-host": "coat-broker-arguable.ngrok-free.dev",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "Test",
            "adminRole": "admin"
          },
          "webhookUrl": "https://coat-broker-arguable.ngrok-free.dev/webhook/v1/admin-broadcast",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "POST /api/v1/admin-broadcast": {
      "main": [
        [
          {
            "node": "IF Shared Secret Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Shared Secret Valid": {
      "main": [
        [
          {
            "node": "IF Caller Role = admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Caller Role = admin": {
      "main": [
        [
          {
            "node": "Fetch All Registered Users (Override Filters)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "403 Forbidden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Registered Users (Override Filters)": {
      "main": [
        [
          {
            "node": "User Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has OneSignal Device": {
      "main": [
        [
          {
            "node": "Payload Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Telegram Linked": {
      "main": [
        [
          {
            "node": "Broadcast via Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Broadcast via OneSignal": {
      "main": [
        [
          {
            "node": "200 Broadcast Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Broadcast via Telegram": {
      "main": [
        [
          {
            "node": "200 Broadcast Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Filter": {
      "main": [
        [
          {
            "node": "IF Has Telegram Linked",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Has OneSignal Device",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Filter": {
      "main": [
        [
          {
            "node": "Broadcast via OneSignal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8e5bd773-92ea-4a89-aac6-67b0653c7a8e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ded9b798677dbcc4bd27f79ba0cdeac4a00e34882ffe33fad1fd33261ccb95b9"
  },
  "id": "niAL4jJFddlD9l7L",
  "tags": []
}