backend/n8n-workflows/AirIntel - 05 Proactive Alert Cron.json
{
  "name": "AirIntel - 05 Proactive Alert Cron",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select \n  fl.id as location_id,\n  fl.user_id,\n  fl.label,\n  ST_X(fl.location::geometry) as lon,\n  ST_Y(fl.location::geometry) as lat,\n  fl.pm25_threshold,\n  fl.aqi_threshold,\n  fl.enable_app_push,\n  fl.enable_telegram_push,\n  u.telegram_chat_id\nfrom favorite_locations fl\njoin users u on u.id = fl.user_id\nwhere fl.enable_app_push = true\n   or fl.enable_telegram_push = true;",
        "options": {}
      },
      "id": "44ac337e-4237-4fc5-9b24-cc9f35229ea9",
      "name": "Fetch All Watched Favorite Locations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1248,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "WigL9PtYReXdyRqO",
          "name": "Supabase Postgres Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "with latest as (\n  select distinct on (station_name) *\n  from real_time_stations\n  order by station_name, updated_at desc\n)\nselect station_name, last_aqi, last_pm25, last_pm10, wind_speed_kmh, wind_degrees,\n       station_wind_speed_ms, humidity, temperature, dominant_pollutant,\n       forecast_pm25_tomorrow, forecast_pm25_day2,\n       ST_X(location::geometry) as lon, ST_Y(location::geometry) as lat,\n       ST_Distance(location, ST_MakePoint($1, $2)::geography) / 1000 as distance_km\nfrom latest\norder by location <-> ST_MakePoint($1, $2)::geography\nlimit 1;",
        "options": {
          "queryReplacement": "={{$json.lon}},{{$json.lat}}"
        }
      },
      "id": "4eea158a-e4e8-4527-a215-112877c3fccb",
      "name": "Fetch Nearest Station per Location",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1008,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "WigL9PtYReXdyRqO",
          "name": "Supabase Postgres Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all watched locations and all nearest stations\nconst watches = $('Fetch All Watched Favorite Locations').all().map(item => item.json);\nconst stations = $input.all().map(item => item.json);\n\n// Match each watch with its corresponding station (by index)\nconst results = watches.map((watch, index) => {\n  const station = stations[index] || {};\n  \n  // Parse thresholds (handle string values)\n  const aqiThreshold = parseInt(watch.aqi_threshold) || 100;\n  const pm25Threshold = parseFloat(watch.pm25_threshold) || 35;\n  const lastAqi = station.last_aqi ? parseInt(station.last_aqi) : 0;\n  const lastPm25 = station.last_pm25 ? parseFloat(station.last_pm25) : 0;\n  \n  const breach = (lastAqi >= aqiThreshold) || (lastPm25 >= pm25Threshold);\n  \n  return {\n    json: {\n      ...watch,\n      station_name: station.station_name || 'Unknown',\n      last_aqi: lastAqi,\n      last_pm25: lastPm25,\n      wind_speed_kmh: station.wind_speed_kmh || null,\n      breach: breach\n    }\n  };\n});\n\nreturn results;"
      },
      "id": "32c4f8b3-4797-4d77-acad-503ebf9b1e45",
      "name": "Evaluate Threshold Breach",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{$json.breach}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "e27ae571-6f13-4239-b9b6-56bb6e0106ac",
      "name": "IF Threshold Breached",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -528,
        224
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select onesignal_player_id from device_push_tokens where user_id = $1;",
        "options": {
          "queryReplacement": "={{$json.user_id}}"
        }
      },
      "id": "d0d0779d-79d9-4ae4-9930-9a641453683f",
      "name": "Get OneSignal player_ids",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -176,
        -48
      ],
      "credentials": {
        "postgres": {
          "id": "WigL9PtYReXdyRqO",
          "name": "Supabase Postgres Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onesignal.com/api/v1/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{$env.ONESIGNAL_REST_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \n  app_id: $env.ONESIGNAL_APP_ID, \n  include_subscription_ids: [$json.onesignal_player_id],\n  headings: { en: \"AirIntel Haze Alert\" }, \n  contents: { \n    en: `⚠️ Haze alert for ${$json.label}: AQI ${$json.last_aqi} and PM2.5 ${$json.last_pm25} near ${$json.station_name}.\\n\\nThis exceeds your alert threshold of AQI Threshold: ${$json.aqi_threshold} and PM2.5 Threshold: ${$json.pm25_threshold}.\\n\\nYou can edit or disable this alert in the AirIntel Malaysia App.` \n  } \n}) }}",
        "options": {}
      },
      "id": "5981b27a-d21e-4540-9a04-8ef94af80abf",
      "name": "Send OneSignal Push",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{$('Evaluate Threshold Breach').item.json.enable_telegram_push}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{$('Evaluate Threshold Breach').item.json.telegram_chat_id}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "62204137-d4f1-490b-8c37-21eb1be6411c",
      "name": "IF Telegram Push Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -288,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{$('Evaluate Threshold Breach').item.json.telegram_chat_id}}",
        "text": "=⚠️ Haze alert for {{$('Evaluate Threshold Breach').item.json.label}}: AQI {{$('Evaluate Threshold Breach').item.json.last_aqi}} and PM2.5 {{ $json.last_pm25 }} near {{$('Evaluate Threshold Breach').item.json.station_name}}. \n\nThis exceeds your alert threshold of AQI Threshold: {{ $json.aqi_threshold }} and PM2.5 Threshold: {{ $json.pm25_threshold }}.\n\nYou can edit or disable this alert in the AirIntel Malaysia App.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "2f37203c-137f-4972-8534-93e94f202d3a",
      "name": "Send Telegram Push",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        400
      ],
      "webhookId": "10b83863-51c5-4b8a-a685-652bedf652e4",
      "credentials": {
        "telegramApi": {
          "id": "wJX3MqBZe389oZNs",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.sql }}",
        "options": {}
      },
      "id": "78f638f6-34f2-4e7a-b2fe-add4e776acee",
      "name": "Log to haze_alert_logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        640,
        192
      ],
      "credentials": {
        "postgres": {
          "id": "WigL9PtYReXdyRqO",
          "name": "Supabase Postgres Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all items from the previous node\nconst items = $input.all();\n\n// Extract unique entries, maintaining their structural item data\nconst userMap = {};\nfor (const item of items) {\n  const userId = item.json.user_id;\n  if (userId && !userMap[userId]) {\n    userMap[userId] = item.json;\n  }\n}\n\n// Pass along the full breach details uniquely matching the user_id\nreturn Object.values(userMap).map(item => ({\n  json: {\n    ...item // Spreads the full matching location, lat, lon, and breach data down the execution line\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        -48
      ],
      "id": "b5509434-a9f8-472c-800e-7e195852ea85",
      "name": "Deduplication of user id"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Fetch the full historical record batch array from the initial evaluation step\nconst breachRecords = $('Evaluate Threshold Breach').all().map(item => item.json);\n\nfunction escape(str) {\n  if (str === null || str === undefined) return 'NULL';\n  return \"'\" + String(str).replace(/'/g, \"''\") + \"'\";\n}\n\nconst results = items.map(item => {\n  const pushResult = item.json;\n  \n  // Find the exact historical payload block matching the current record context\n  const matchedBreach = breachRecords.find(b => b.user_id === pushResult.user_id) || breachRecords[0];\n  \n  // Explicitly set the trigger type for App Push\n  const triggeredBy = 'app_push';\n\n  const sql = `\nINSERT INTO haze_alert_logs (\n  user_id, triggered_by, aqi_at_trigger, safety_status,\n  label, station_name, pm25_at_trigger, pm25_threshold, aqi_threshold\n) VALUES (\n  ${escape(matchedBreach.user_id)},\n  '${triggeredBy}',\n  ${matchedBreach.last_aqi ?? 'NULL'},\n  'Incoming Plume Warning',\n  ${escape(matchedBreach.label)},\n  ${escape(matchedBreach.station_name)},\n  ${matchedBreach.last_pm25 ?? 'NULL'},\n  ${matchedBreach.pm25_threshold ?? 'NULL'},\n  ${matchedBreach.aqi_threshold ?? 'NULL'}\n)\n`;\n\n  return { json: { sql, _triggeredBy: 'app_push' } }; // Pass the flag forward\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -48
      ],
      "id": "a35527a2-17e2-4793-8c7c-98bd5f20a8d6",
      "name": "Pair Tokens with Location Data"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Fetch the full historical record batch array from the initial evaluation step\nconst breachRecords = $('Evaluate Threshold Breach').all().map(item => item.json);\n\nfunction escape(str) {\n  if (str === null || str === undefined) return 'NULL';\n  return \"'\" + String(str).replace(/'/g, \"''\") + \"'\";\n}\n\nconst results = items.map(item => {\n  const pushResult = item.json;\n  \n  // Find the exact historical payload block matching the current record context\n  // Fallback to the first item only if a match is not found\n  const matchedBreach = breachRecords.find(b => b.user_id === pushResult.user_id) || breachRecords[0];\n  \n  const triggeredBy = pushResult.onesignal_player_id ? 'app_push' : 'telegram_push';\n\n  const sql = `\nINSERT INTO haze_alert_logs (\n  user_id, triggered_by, aqi_at_trigger, safety_status,\n  label, station_name, pm25_at_trigger, pm25_threshold, aqi_threshold\n) VALUES (\n  ${escape(matchedBreach.user_id)},\n  '${triggeredBy}',\n  ${matchedBreach.last_aqi ?? 'NULL'},\n  'Incoming Plume Warning',\n  ${escape(matchedBreach.label)},\n  ${escape(matchedBreach.station_name)},\n  ${matchedBreach.last_pm25 ?? 'NULL'},\n  ${matchedBreach.pm25_threshold ?? 'NULL'},\n  ${matchedBreach.aqi_threshold ?? 'NULL'}\n)\n`;\n\n  return { json: { sql } };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        192
      ],
      "id": "9af09220-6307-4eaf-a088-1ccae2e974c8",
      "name": "Build Alert Log SQL"
    },
    {
      "parameters": {
        "jsCode": "// Tag this item as coming from the Telegram branch\nconst item = $input.first().json;\n\nreturn [{\n  json: {\n    ...item,\n    _triggeredBy: 'telegram_push' // Explicit flag for Telegram\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        400
      ],
      "id": "966c2ab5-2efb-47f6-b5e9-2630f3c29dd4",
      "name": "Telegram Push Flag"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 45
            }
          ]
        }
      },
      "id": "29416e6d-8d5f-41cb-ab14-8c20b5621003",
      "name": "Every 45 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1488,
        224
      ]
    }
  ],
  "pinData": {
    "Every 45 Minutes": [
      {
        "json": {
          "timestamp": "2026-07-20T00:00:16.278+08:00",
          "Readable date": "July 20th 2026, 12:00:16 am",
          "Readable time": "12:00:16 am",
          "Day of week": "Monday",
          "Year": "2026",
          "Month": "July",
          "Day of month": "20",
          "Hour": "00",
          "Minute": "00",
          "Second": "16",
          "Timezone": "Asia/Kuala_Lumpur (UTC+08:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Fetch All Watched Favorite Locations": {
      "main": [
        [
          {
            "node": "Fetch Nearest Station per Location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Nearest Station per Location": {
      "main": [
        [
          {
            "node": "Evaluate Threshold Breach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Threshold Breach": {
      "main": [
        [
          {
            "node": "IF Threshold Breached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Threshold Breached": {
      "main": [
        [
          {
            "node": "IF Telegram Push Enabled",
            "type": "main",
            "index": 0
          },
          {
            "node": "Deduplication of user id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get OneSignal player_ids": {
      "main": [
        [
          {
            "node": "Send OneSignal Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send OneSignal Push": {
      "main": [
        [
          {
            "node": "Pair Tokens with Location Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Telegram Push Enabled": {
      "main": [
        [
          {
            "node": "Send Telegram Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Push": {
      "main": [
        [
          {
            "node": "Telegram Push Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplication of user id": {
      "main": [
        [
          {
            "node": "Get OneSignal player_ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pair Tokens with Location Data": {
      "main": [
        [
          {
            "node": "Build Alert Log SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert Log SQL": {
      "main": [
        [
          {
            "node": "Log to haze_alert_logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Push Flag": {
      "main": [
        [
          {
            "node": "Build Alert Log SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 45 Minutes": {
      "main": [
        [
          {
            "node": "Fetch All Watched Favorite Locations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a854e936-74e1-454d-a28e-d4493677f6a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ded9b798677dbcc4bd27f79ba0cdeac4a00e34882ffe33fad1fd33261ccb95b9"
  },
  "id": "r42bXGMmjgQMiC5M",
  "tags": []
}